// fonts
$font-main: 'Roboto', sans-serif;
$font-secondary: 'Galada', cursive;

// colors
$color-white: #f3f4f5;
$color-black: #697f99;
$color-secondary: #b2b2b2;
$color-back: #ffef96;
$color-front: #f4e1d2;
$color-primary: #50394c;
